<ion-card>
  <ion-card-header>
    <ion-card-title>Lista de los lugares</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!-- Indicador de carga -->
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

    <!-- Mostrar lista de lugares cuando la carga ha terminado -->
    <ion-list *ngIf="!loading">
      <ion-card *ngFor="let lugar of lugaresList; let i = index">
        <ion-card-header>
          <ion-card-title>{{ lugar.name }}</ion-card-title>
          <ion-card-subtitle>{{ lugar.dimension !== 'unknown' ? lugar.dimension : lugar.type }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header">
                <ion-label>Residentes ({{ residentesList[lugar.id].length }})</ion-label>
              </ion-item>
              <ion-list slot="content">
                <ion-item *ngFor="let resident of residentesList[lugar.id]">
                  <ion-avatar slot="start">
                    <img [src]="resident.image" />
                  </ion-avatar>
                  <ion-label>
                    <h2>{{ resident.name }}</h2>
                    <p>{{ resident.species }} - {{ resident.status }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <!-- Mensaje si no hay lugares después de que termina la carga -->
    <ion-item *ngIf="!loading && lugaresList.length === 0">
      <ion-label color="medium">
        No hay lugares disponibles.
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
